<!doctype html>
<html lang=en>
  <head>
    <title>Jay Knight</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="me" href="https://mastodon.social/@jayknight"></link>
    <link rel="stylesheet" href="/assets/main.css"></link>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1>Jay Knight♞</h1>
      </header>
      <main>
        {{ section.content | safe }}
      </main>
      <footer>
        <div>
          Thanks
        </div>
      </footer>
    </div>
  </body>
</html>
